<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>FastTickets</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}"/>
    </head>
    <body>
        <header>
            <nav class="nav-buttons">
                <img src="{{ url_for('static', filename='img/logo.svg') }}">
                <img src="{{ url_for('static', filename='img/button-search.svg') }}">
                <img src="{{ url_for('static', filename='img/account-button.svg') }}">
            </nav>
            <nav class="nav-filmes">
                <h1 class="cartaz">Em Cartaz</h1>
                <h1 class="breve">Em Breve</h1>
            </nav>
        </header>
    </body>
</html>