<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FastTickets</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}"/>
    </head>
    <body>
        <header>
            <nav class="nav-buttons">
                <img class="logo" src="{{ url_for('static', filename='img/logo.svg') }}">
                <img class="procura" src="{{ url_for('static', filename='img/button-search.svg') }}">
                <img class="conta" src="{{ url_for('static', filename='img/account-button.svg') }}">
            </nav>
            <nav class="nav-filmes">
                <p class="em-cartaz">Em Cartaz</p>
                <p class="em-breve">Em Breve</p>
            </nav>
        </header>
        <div class="filme-area">
            <div class="filme">
                <img class="cartaz" src="{{ url_for('static', filename='img/pedro_coelho.jpg') }}">
            </div>
        </div>
    </body>
</html>