@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@media screen and (max-width: 360px){
    body {
        background-color: rgb(77, 77, 77);
        margin: 0px;
    }

    header .voltar {
        width: 50px;
        height: 40px;
        margin-top: 5px;
    }

    .detalhe-area {
        display: grid;
        grid-template-areas: 
        "cartaz informacao";
    }

    .cartaz-area {
        grid-area: cartaz;
        width: 135px;
        height: 210px;
        background-color: red;
        margin: 10px;
    }

    .informacao-area {
        grid-area: informacao;
        display: grid;
        grid-template-areas: 
        "titulo titulo" 
        "faixa-etaria duracao";
        margin: 10px;
        grid-template-columns: auto 120px;
    }

    .titulo-area {
        grid-area: titulo;
        font-family: Righteous;
        color: #FFFFFF;
        font-size: 26px;
    }

    .faixa-etaria-area {
        grid-area: faixa-etaria;
    }

    .duracao-area {
        grid-area: duracao;
        font-family: Righteous;
        color: #FFFFFF;
        font-size: 26px;
        margin-left: 10px;
    }

    .cartaz {
        width: 135px;
        height: 210px;
    }

    .faixa-etaria {
        width: 45px;
        height: 45px;
    }

    .dias-area {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        background-color: #363636;
        width: 360px;
        height: 98px;
        margin-top: 30px;
    }

    .dia-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
        font-family: Righteous;
        font-size: 20px;
        color: #F3AF00;
    }

    .dia-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
        font-family: Righteous;
        font-size: 20px;
        color: #35A8FB;
    }

    .cinema-area {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        font-family: Righteous;
    }

    .cinema {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: #363636;
        padding: 10px;
    }

    .nome-cinema {
        color: #FFFFFF;
        margin-bottom: 20px;
        font-size: 18px;
    }

    .sessao-cinema {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .sala-cinema {
        color: #FFFFFF;
        font-size: 16px;
        margin-bottom: 10px;
    }

    .tipo-filme {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        color: #F3AF00;
        font-size: 16px;
        margin-bottom: 10px;
    }

    .tipo {
        margin-right: 15px;
    }

    .horario-filme {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .horario {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #4D4D4D;
        border: solid #F3AF00;
        color: #35A8FB;
        border-radius: 10px;
        font-size: 19px;
        width: 94px;
        height: 31px;
        margin-right: 10px;
    }


}